body {
  background-color: #f5f5f5;
}
.main {
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  background-color: #ffff;
}
.container1 .nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  padding-top: 40px;
}
.container1 .logo {
  grid-column: 1;
  grid-row: 1;
}
.container1 .nav-li {
  grid-column: 2;
  grid-row: 1;
  width: 600px;
}
.container1 .button1 {
  grid-column: 3;
  grid-row: 1;
}
.container1 .nav-li select {
  outline: 0px;
  border: 0px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #636363;
}
.container1 .nav .logo img {
  width: 190.85px;
  height: 25px;
  margin-top: 15px;
}
.container1 .nav li {
  display: inline;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #636363;
  margin-right: 40px;
}
.container1 .main {
  font-family: "Manrope";
  font-style: normal;
}
.container1 .main .heading {
  font-weight: 800;
  font-size: 34px;
  line-height: 77px;
}
.container1 .main .sub-heading {
  font-weight: 500;
  font-size: 24px;
  line-height: 180%;
  margin-bottom: 29px;
}
.button1 button,
.button2 button,
.button3 button {
  width: 220px;
  padding: 20px 36px;
  height: 75px;
  background: #6fc247;
  border-radius: 16px;
  border: 1px solid #6fc247;
  color: white;
}
.button2 .but-right {
  background-color: white;
  color: #6fc247;
  margin-left: 10px;
}
.container1 .image1 img {
  width: 95%;
  margin-top: 70px;
}

.container3 .main {
  background-color: black;
  text-align: left;
  color: #fff;
  padding-top: 15px;
  width: 950px;
  height: 456px;
  padding-bottom: 5px;
  margin-top: 100px;
}
.container3 {
  width: 100%;
  background-color: black;
}
.container3 .main .heading h1 {
  width: 281px;
  height: 55px;
  font-weight: 800;
  font-size: 40px;
  line-height: 35px;
}
.container3 .main .heading span {
  width: 893px;
  height: 60px;

  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #d7d7d7;
}
.container2 {
  text-align: center;
  margin: 20px;
}
.container2 .heading div {
  font-weight: 800;
  font-size: 32px;
  line-height: 44px;
  color: #373737;
  margin-top: 50px;
}
.container2 .heading div p {
  height: 40px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #373737;
}
.container2 .sub-heading .block-logo {
  background: #f9f9f9;
}
.container2 .sub-heading {
  margin-top: 50px;
  margin-left: 70px;
  margin-right: 70px;
  gap: 18px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(100px, auto);
}
.container2 .sub-heading .image1 {
  grid-column: 1;
  grid-row: 1;
}
.container2 .sub-heading .image2 {
  grid-column: 2;
  grid-row: 1;
}
.container2 .sub-heading .image3 {
  grid-column: 3;
  grid-row: 1;
}
.container2 .sub-heading .image4 {
  grid-column: 4;
  grid-row: 1;
}
.container2 .sub-heading img {
  width: 180px;
  height: 100px;
}
.container3 .layer_for_3 p {
  width: 95px;
  height: 33px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  margin-top: 20px;
  line-height: 33px;
  /* identical to box height */
  color: #ffffff;
}
.container3 .layer_for_3 span {
  width: 893px;
  height: 60px;

  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #d7d7d7;
}
.container3 .layer_for_3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.layer1 {
  grid-column: 1;
  grid-row: 1;
}
.layer2 {
  grid-column: 2;
  grid-row: 1;
}
.layer3 {
  grid-column: 3;
  grid-row: 1;
}
.container4 .main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(100px, auto);
}
.container4 .right {
  grid-column: 2;
  grid-row: 2;
}
.container4 .right img {
  width: 80%;
}
.container4 .left {
  grid-column: 1;
  grid-row: 2;
  text-align: justify;
  margin-left: 40px;
  margin-right: 40px;
  font-size: 15px;
}
.container4 .left .list {
  text-align: left;
  margin: 40px;
  text-align: justify;
}
